html, body, * {
    padding: 0;
    margin: 0;
}

.img-tipo-utente {
    max-width: 150px;
    max-height: 150px;
    margin: auto;
    display: block;
    padding: 15px;
    transform: translateY(5px);
}

.img-logo {
    max-width: 600px;
    max-height: 260px;
    margin: auto;
    display: block;
	padding: 0px 0px 30px 0px;
}

.spazio-loghi {
    max-width: 200px;
    margin: auto;
    display: block;
}

.img-footer {
    max-width: 100px;
    max-height: 100px;
    margin: auto;
    display: block;
}

.btn-tipo-utente {
    padding: 20px;
}

/* Centra verticalmente il canvas sui tablet e i desktop */
@media only screen and (min-width: 768px) {
    #canvas {
        padding-top: 100px;
        padding-bottom: 80px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #FBFBFB;
        margin: 0;
    }
  }