html, body, * {
    padding: 0;
    margin: 0;
}

.row {
}

#canvas {
    padding-top: 100px;
    padding-bottom: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FBFBFB;
    margin: 0;
}