html, body, * {
    padding: 0;
    margin: 0;
}

.img-tipo-utente {
    max-width: 150px;
    max-height: 150px;
    margin: auto;
    display: block;
    padding: 15px;
    transform: translateY(5px);
}

.btn-tipo-utente {
    padding: 20px;
}

/* Centra verticalmente il canvas sui tablet e i desktop */
@media only screen and (min-width: 768px) {
    #canvas {
        padding-top: 100px;
        padding-bottom: 80px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #FBFBFB;
        margin: 0;
    }
  }